#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#popup {
  width: 90%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow-y: auto;
}

.sticky {
  position: sticky;
}

.active {
  display: block;
}

.hidden {
  display: none;
}



.pointer {
  cursor: pointer;
}



.title-collapsible {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-collapsible {
  margin-top: 0.5rem;
}